<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://database:3306/saledock?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        
        <!-- Specify dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.highlight_sql">true</property>
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        
        <!-- Mention annotated class -->
        <mapping class="io.hardingadonis.saledock.model.Category"/>
        <mapping class="io.hardingadonis.saledock.model.Customer"/>
        <mapping class="io.hardingadonis.saledock.model.Employee"/>
        <mapping class="io.hardingadonis.saledock.model.Order"/>
        <mapping class="io.hardingadonis.saledock.model.OrderDetail"/>
        <mapping class="io.hardingadonis.saledock.model.Product"/>
        
    </session-factory>
</hibernate-configuration>